<h1>
  Dice Roll
</h1>

<form action="/process_roll">
   
  <label for="dice">How many dice?</label>
  <input type = "text" name="dice" >
  
  
  <label for="sides">How many sides?</label>
  <input type = "text" name="sides">

  <button>Go</button>
</form>
